body, html {
  font-family: "Avenir", "Helvetica", sans-serif;
  background-color: #E7E5DF;
  color: #393E41;
}

.view-window {
  display: flex;
}

/* Nav */
.navbar {
  display: flex;
  align-items:center;
}

.app-header {
  flex-grow: 1;
}

.app-header h1 {
  color: #44BBA4;
  font-size: 30px;
  margin: 0;
  padding: 15px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  padding: 20px;
  color: #44BBA4;
}

.navbar p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


/* Side Panel */
.side-panel h3 {
  margin-top: 0;
}

.side-panel {
  border: 2px solid black;
  border-left: 1px solid black;
  padding: 10px 20px;
  width: 100%;
}

.side-panel label {
  font-size: 14px;
  margin: 5px;
}

input {
  margin: 5px;
  width: 200px;
}

.add-name {
  width: 155px;
}

textarea {
  margin-left: 5px;
  width: 238px;
}


/* Calendar */
.month-header {
  text-align: center;
  border: 1px solid black;
  border-top: 2px solid black;
}

.days-of-week {
  width: 817px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.calendar h2, .calendar h3 {
  margin: 0;
  padding: 5px;
}

.calendar {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.week {
  display: flex;
  justify-content: flex-start;
}

.day {
  border: 1px solid black;
  width: 115px;
  height: 115px;
}

/* .day:hover {
  opacity: 0.8;
  cursor: pointer;
} */

.calendar p {
  color: #393E41;
  font-size: 14px;
  margin: 5px;
}

.calendar p:hover {
  opacity: 0.8;
  cursor: pointer;
}

.today {
  background-color: #E7BB41;
}
