.view-window {
  display: flex;
}

/* Nav */
.navbar {
  display: flex;
  align-items:center;
}

.app-header {
  flex-grow: 1;
}

.app-header h1 {
  font-size: 30px;
  margin: 0;
  padding: 15px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  padding: 20px;
}

.navbar p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


/* Side Panel */
.side-panel h2 {
  margin-top: 0;
}

.side-panel {
  border: 1px solid black;
  padding: 5px 10px;
  width: 100%;
}


/* Calendar */
.month-header {
  text-align: center;
  border: 1px solid black;
}

.days-of-week {
  width: 817px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.calendar h2 {
  margin: 0;
  padding: 5px;
}

.week {
  display: flex;
  justify-content: flex-start;
}

.day {
  border: 1px solid black;
  width: 115px;
  height: 115px;
}

.calendar p {
  font-size: 14px;
  margin: 5px;
}
