.app-header {
  padding-left: 20px;
}

.days-of-week {
  width: 815px;
  display: flex;
  justify-content: space-around;
}

.calendar h2 {
  margin: 0;
  padding: 15px;
}

.week {
  display: flex;
  justify-content: flex-start;
}

.day {
  border: 1px solid black;
  width: 115px;
  height: 115px;
}
